/* ================================================
 * LAYOUT
 * ===============================================*/

html, body{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
    width:100%; 
    border:1px solid;
}

main {
    padding:5px;
}

main ul#imagegrid li img, ul#imagegrid1 li img{
    width: 115px;
    height:110px;
}

main section{
    margin:10px 0;
    padding:5px 0;
}

main section h2{
    text-align: center;
}

main summary{
    margin:10px 0;
    padding: 5px;
    text-align: center;

}

footer{
    padding: 1px;
    margin: 0;
    width: 100%;
}

footer p#copyrightText{
   text-align: right; 
   margin-right:10px;
}


