//*==================================================
 * Responsive image grid design
 * ===============================================*/
ul.rig {
	list-style: none;
	font-size: 0px;
}

ul.rig li {
	display: inline-block;
	padding: 1px;
	margin: 0;
	vertical-align: middle;
}

ul.rig li img {
	max-width: 100%;
	height: auto;
}

ul.rig.columns-2 li {
	width: 50%;
}

ul.rig.columns-3 li {
	width: 33.33%;
}

ul.rig.columns-4 li {
	width: 25%;
}

ul.rig.columns-5 li {
	width: 20%;
}
 
@media (max-width: 120px) {
	ul.rig li {
		display: block;
		margin: 0 0 5px;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important;
		margin: 0 0 10px;
	}
}